@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1f23;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

header {
  position: relative;
  border-bottom: 1px solid #2c2f35;
  padding: 10px 0 9px 0;
}

.wrapper {
  width: 1280px;
  margin: 0px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 23px 0 23px;
}

.Header-logo-div {
  display: flex;
  align-items: center;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}

.header-logo {
  height: 30px;
}

header ul.nava {
  /* float: right; */
  list-style: none;
}

header ul.nava li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 50px 0;
  background: url("./img/bg.gif") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

header .shop-cart-button {
  cursor: pointer;
  transition: color 500ms ease;
}

.shop-cart-button:hover,
.shop-cart-button:focus {
  color: #ca5252;
  transform: scale(1.1);
}

header .shop-cart {
  position: absolute;
  top: 65px;
  right: 0px;
  width: 450px;
  background: #262726;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty-cart h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item b {
  color: #797979;
  font-weight: 600;
}
.header-nav-buttons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

header .shop-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -20px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
  color: rgb(131, 0, 0);
}

header .shop-cart .checkout-cart {
  float: left;
  width: 100%;
  font-weight: 600;
  margin-bottom: 20px;
}

.categories div {
  display: inline-block;
  background: #a0a0a0;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 35px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: white;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  border: 5px solid;
  border-radius: 10px;
  border-color: #a0a0a0;
}

main .item img {
  height: 320px;
  width: 384px;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2,
main p,
main b {
  margin: 10px 20px;
  color: #000000;
}

main b {
  color: #5fa36a;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.05) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
  height: 36.98px;
  border-top: 1px solid #2c2f35;
}
